@import "./normalize.css";
body{
    padding: 0;
    margin: 0;
}
:root{
  --color-text:#666;
  --color-tink:#FF8E97;
  --font-size:14px;
}
p{
  color: var(--color-text);
}
a{
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--font-size);
}
